[submodule ".oh-my-zsh"]
	path = .oh-my-zsh
	url = https://github.com/ohmyzsh/ohmyzsh
[submodule ".local/share/fonts/source-code-pro"]
	path = .local/share/fonts/source-code-pro
	url = https://github.com/adobe-fonts/source-code-pro
[submodule ".local/share/fonts/powerline-fonts"]
	path = .local/share/fonts/powerline-fonts
	url = https://github.com/powerline/fonts
