snippet CONS "Cpp constructor implement"
${2:NAMESPACE}::${1:CLASS}::$1()
{}
endsnippet

snippet func "Class method implementation"
$1 ${2:NAMESPACE}::${3:CLASS}::${4:METHOD}()
{
}
endsnippet

snippet class "Class declaration"
class ${1:CLASS}
{
public:
	$1();
};
endsnippet
